.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    text-align: left;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #363c6d;
}
.pokeDetail button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    float: right;
    cursor: pointer;
}

.pokeDetail .name{
    text-transform: capitalize;
    margin-bottom: .25rem;
}

.pokeDetail .number{
    color: #000;
    opacity: .3;
    justify-content: right;
}

.pokeDetail button:hover{
    background-color: #363c6d;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal-content{
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.pokeButton{
    list-style: none;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.normal:hover {
    background-color: #9c9e67;
}

.grass:hover {
    background-color: #68c23d;
}

.fire:hover {
    background-color: #ec7018;
}

.water:hover {
    background-color: #507eeb;
}

.electric:hover {
    background-color: #f6c915;
}

.ice:hover {
    background-color: #86ced0;
}

.ground:hover {
    background-color: #dbb654;
}

.flying:hover {
    background-color: #9879ed;
}

.poison:hover {
    background-color: #8e398e;
}

.fighting:hover {
    background-color: #aa2b24;
}

.psychic:hover {
    background-color: #f53e76;
}

.dark:hover {
    background-color: #624c3d;
}

.rock:hover {
    background-color: #a49031;
}

.bug:hover {
    background-color: #94a11c;
}

.ghost:hover {
    background-color: #624f86;
}

.steel:hover {
    background-color: #aaa8c5;
}

.dragon:hover {
    background-color: #5d20f5;
}

.fairy:hover {
    background-color: #f796b7;
}

.normalDetail {
    background-color: #a6a877;
}

.grassDetail {
    background-color: #77c850;
}

.fireDetail {
    background-color: #ee7f30;
}

.waterDetail {
    background-color: #678fee;
}

.electricDetail {
    background-color: #f7cf2e;
}

.iceDetail {
    background-color: #98d5d7;
}

.groundDetail {
    background-color: #dfbf69;
}

.flyingDetail {
    background-color: #a98ff0;
}

.poisonDetail {
    background-color: #a040a0;
}

.fightingDetail {
    background-color: #bf3029;
}

.psychicDetail {
    background-color: #f65687;
}

.darkDetail {
    background-color: #725847;
}

.rockDetail {
    background-color: #b8a137;
}

.bugDetail {
    background-color: #a8b720;
}

.ghostDetail {
    background-color: #6e5896;
}

.steelDetail {
    background-color: #b9b7cf;
}

.dragonDetail {
    background-color: #6f38f6;
}

.fairyDetail {
    background-color: #f9aec7;
}